<h3>Welcome to My Restaurant Review!</h3>
<p>Here you can post reviews of your favorite (and not so favorite) restaurants.  Bon appetit!</p>

<% if !logged_in? %>
  <%= link_to "Log in", login_path %>
<% else %>
  <h4>Click on one of the following links below to:</h4> <!--CRUDS-->
    <ul>
      <li>(C)reate new review</li>
      <li>(R)ead your review</li>
      <li>(U)pdate review</li>
      <li>(D)elete review</li>
      <li>(S)ee all reviews posted by users</li>
    </ul>
<% end %>
