<fieldset>
<legend>
  <h3>All Users:</h3>
</legend>
<ul>
  <li>
    <% if logged_in? %>
      <%= link_to "You", user_path(current_user) %>
    <% end %>
  </li>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email.upcase_first, user %>
    </li>
  <% end %>
</ul>
</fieldset>
<br/>
<%= link_to 'Back', user_path(current_user) %>
<%= link_to "See Reviews", reviews_path %>
