<form action="/reviews" method="post">
  <fieldset>
    <legend>Create New Restaurant Review Below:</legend>
    <input type="text" name="rest_name" id="rest_name" placeholder="Restaurant Name:"><br></br>
      <textarea id="content" name="content" rows="5" cols="98" placeholder="Enter your review comments here:"></textarea>
      <br></br>
    <input type="text" name="cuisine" id="cuisine" placeholder="Cuisine:"><br></br>
      Choose Rating for the restaurant from the following (4) choices:
      <input type="radio" name="rating" value="Excellent"><label for="Excellent"> Excellent</label>
      <input type="radio" name="rating" value="Good"><label for="Good"> Good</label>
      <input type="radio" name="rating" value="Average"><label for="Average"> Average</label>
      <input type="radio" name="rating" value="Poor"><label for="Poor"> Poor</label><br></br>
    <input type="submit" id="submit" value="Save Review">
  </fieldset>
</form>
<br></br>
<%= link_to 'Back', @user%>
