<li>
  <%= link_to review.try(:restaurant).try(:name), review %>
  was visited on <%= review.date_visited.strftime("%m/%d/%Y") %>.&ensp;
  (Posted <%= time_ago_in_words(review.updated_at) %> ago.)
</li>
