<h3>Here is a list of all restaurant reviews (Click on a 'link'):</h3>

  <%= link_to "Back", root_path %>
  <%= link_to "All Restaurants", restaurants_index_path %>
  <%= link_to "Top Reviews", reviews_top_reviews_path %>
