<br/>
<fieldset>
<legend>
  <h3>Restaurant Reviews:</h3>
 </legend>
 </br>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= render partial: "review", locals: {review: review} %>
    </li>
  <% end %>
</ul>
<%= page_entries_info @reviews %>
<%= paginate @reviews, window:2 %>
</fieldset>
<br/>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/reviews/" + id + "/review_data", function(data) {
      $("#body-" + id).html(data["content"]);
    });
  });
});
</script>
