<fieldset>
<legend>
  <h3>Create New Review</h3>
</legend>
<%= render 'form' %>
<script>
$(function(){
    $("input").focus(function(){
        $(this).css("background-color", "#cccccc");
    });
    $("input").blur(function(){
        $(this).css("background-color", "#ffffff");
    });
});
</script>

<div id="reviewResult">
  <h4 id="restaurantName"></h4>
  <p id="reviewBody"></p>
  <p id="reviewCuisines"></p>
  <p id="reviewRating"></p>
  <p id="reviewDateVisited"></p>
  <h4 id="reviewThankYou"></h4>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/reviews', values);
      posting.done(function(data) {
        var review = data;
        $('#restaurantName').css({ 'font-weight': 'bold' });
        $("#restaurantName").text("Your Review Saved For: " + review["restaurant"]["name"] + '.');
        $("#reviewBody").text("You commented: " + '"' + review["content"] + '".');
        //$("#reviewCuisines").val(review["cuisine"]["name"]);
        $(function(){
          //New showRating method created via jQuery on Review prototype w/ bold formats on rating & name attributes.
          $.extend({
            showRating: function() {
              //$("#reviewRating").text("You gave " + '"' + review["rating"] + '"' + " rating for " + '"' + review["restaurant"]["name"] + '."')
              var txt1 = 'You gave "';                       // Create text with HTML
              var txt2 = $("<b></b>").text(review["rating"]);
              var txt3 = '" rating for ';             // Create text with jQuery
              var txt4 = $("<b></b>").text(review["restaurant"]["name"] + '.');
              $('#reviewRating').append(txt1, txt2, txt3, txt4);      // Append text to Review Rating message
            }
          });
          $.showRating();
        });
        //$("#reviewDateVisited").text("Date Visited: " + review["date_visited"].val() + ".");
        var txt1 = $("<b></b>").text("THANK YOU ");         // Create text with jQuery
        var txt2 = "for posting at ";                       // Create text with HTML
        var txt3 = $("<b></b>").text("My Restaurant Review!");
        $('#reviewThankYou').append(txt1, txt2, txt3);      // Append text to Thank you Paragraph
      });
    });
  });
  </script>
  </fieldset>
  <br/>
